@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/todoreact/public/back.jpeg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}
